  /* CSS for responsive design */

  @media (max-width: 319.98px) {
    /* CSS for banner section */
    .banner-section .caption-big {
      margin-top: 14px;
      margin-bottom: 12px;
      font-size: 24px;
      line-height: 28px;
    }
    .banner-section .banner-button {
      margin-top: 14px;
    }
    .banner-section .banner-caption {
      left: 16px;
    }
    .banner-section .caption-small-one {
      font-size: 14px;
      line-height: 16px;
    }
    .banner-section .caption-small-two {
      display: none;
    }
    .banner-section .banner-button .button {
      padding: 4px 16px;
    }
    /* CSS for volunteer section */
    .volunteer-banner-caption {
        width: 96%;
    }
    .volunteer-banner-caption .caption-small-one {
      font-size: 13px;
      line-height: 14px;
    }
    .volunteer-banner-caption h2{
        font-size: 22px;
        line-height: 26px;
    }
    .volunteer-block-button {
      font-size: 14px;
      padding: 14px 16px;
    }
    .volunteer {
      padding: 70px 10px 0px 30px;
    }
    .volunteer-text {
      font-size: 30px;
      line-height: 40px;
      font-weight: 700;
    }
    /* CSS for news section */
    .news-section-header {
      display: block;
    }
    .news-section-button-wrapper {
      justify-content: flex-start;
    }
  }
  @media (max-width: 333.98px) {
    /* CSS for partner section */
    .partner-section {
      padding: 30px;
    }
    .partner-logo-container {
      justify-content: center;
    }
    .partner-logo {
      padding: 5px;
    }
  }
  @media (min-width: 334px) and (max-width: 767.98px) {
    /* CSS for partner section */
    .partner-section {
      padding: 50px;
    }
  }
  @media (max-width: 479.98px) {
    .section-header {
      font-size: 30px;
      line-height: 38px;
    }
    .border-button {
      padding: 16px 18px;
    }
    .block-button {
      padding: 16px 18px;
    }
    /* CSS for news section */
    .news-section-button {
      padding: 16px 18px;
    }
    /* CSS for work section */
    .our-work .content-header {
    font-size: 30px;
    line-height: 38px;
    }
    .content-header {
    font-size: 30px;
    line-height: 38px;
    }
    /* CSS for event section */
    .event-shedule {
      display: block;
    }
    .event-buttons .margin-right{
      margin-right: 20px;
    }
  }
  @media (max-width: 767.98px) {
    /* CSS for navigation section */
    .navbar {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }
    /* .searchbar {
        width: 100%;
        max-width: 250px;
        margin-top: -8px;
    } */
    .navbar-light .navbar-nav .nav-link {
      padding-left: 0px;
    }
    .flex-direction-md {
        flex-direction: column-reverse;
    }
    .border-button {
        margin-bottom: 50px;
    }
    /* CSS for event section */
    .event-content {
      padding-left: 0px;
      padding-right: 0px;
    }
    /* CSS for footer section */
    .footer {
      padding-left: 25px;
    }
    .footer-grid .important-link1 {
      padding-left: 0px;
    }
    .footer-section-header {
      margin-top: -50px;
      margin-bottom: 50px;
    }
    .footer-grid ul li {
      margin-bottom: 20px;
      margin-top: 20px;
    }
    .footer-grid h5 {
      margin-bottom: 32px;
    }.footer {
      gap: 36px;
    }
  }
  @media (max-width: 991.98px) {
    /* CSS for about section */
    .about-content {
      padding-top: 20px;
      padding-left: 30px;
      margin-bottom: 25px;
    }
    /* CSS for work section */
    .our-work {
        padding: 70px 30px 0px 30px;
    }
    .program-padding {
        padding: 70px 30px 0px 30px;
    }
    .our-work .content-header {
        padding-bottom: 30px;
    }
    .border-button {
        margin-bottom: 50px;
    }
    .our-work p {
        text-align: justify;
    }
    .flex-direction-lg {
        flex-direction: column-reverse;
    }
    .pb-50 {
        padding-bottom: 50px;
    }
    /* CSS for event section */
    .event-description {
        text-align: justify;
      }
  }
  @media (min-width: 320px) and (max-width: 479.98px) {
    /* CSS for banner section */
    .banner-section .caption-big {
      margin-top: 18px;
      margin-bottom: 12px;
      font-size: 26px;
      line-height: 30px;
    }
    .banner-section .banner-button {
      margin-top: 14px;
    }
    .banner-section .banner-caption {
      left: 16px;
    }
    .banner-section .caption-small-one {
      font-size: 14px;
      line-height: 16px;
    }
    .banner-section .caption-small-two {
      font-size: 14px;
      line-height: 16px;
    }
    .banner-section .banner-button .button {
      padding: 4px 16px;
    }
    /* CSS for volunteer section */
    .volunteer-banner-caption {
      width: 95%;
    }
    .volunteer-banner-caption .caption-small-one {
      font-size: 14px;
      line-height: 18px;
    }
    .volunteer-banner-caption h2{
        font-size: 25px;
        line-height: 30px;
    }
    .volunteer-block-button {
      font-size: 14px;
      padding: 14px 16px;
      }
    .volunteer {
      padding: 70px 10px 0px 30px;
    }
    .volunteer-text {
      font-size: 30px;
      line-height: 40px;
      font-weight: 700;
    }
  }
  @media (min-width: 480px) and (max-width: 575.98px) {
    /* CSS for banner section */
    .banner-section .caption-big {
      margin-top: 20px;
      margin-bottom: 15px;
      font-size: 36px;
      line-height: 40px;
    }
    .banner-section .banner-button {
      margin-top: 18px;
    }
    .banner-section .banner-caption {
      left: 16px;
    }
    .banner-section .caption-small-two {
      line-height: 17px;
    }
    .banner-section .banner-button .button {
      padding: 10px 24px;
    }
    /* CSS for volunteer section */
    .volunteer-banner-caption {
      width: 92%;
    }
    .volunteer-banner-caption h2{
        font-size: 36px;
        line-height: 44px;
    }
    .volunteer-block-button{
      font-size: 14px;
      }
    .volunteer {
      padding: 70px 20px 0px 30px;
    }
    .volunteer-text {
      font-size: 35px;
      line-height: 48px;
    }
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    /* CSS for banner section */
    .banner-section .caption-big {
      margin-top: 20px;
      margin-bottom: 15px;
      font-size: 44px;
      line-height: 52px;
    }
    .banner-section .banner-button {
      margin-top: 24px;
    }
    .banner-section .banner-caption {
      left: 50px;
    }
    .banner-section .caption-small-two {
      line-height: 22px;
    }
    .banner-section .banner-button .button {
      padding: 12px 32px;
    }
    /* CSS for volunteer section */
    .volunteer-banner-caption {
      width: 92%;
    }
    .volunteer-banner-caption h2{
      font-size: 42px;
      line-height: 50px;
    }
    .volunteer {
      padding: 70px 10px 0px 30px;
    }
    .volunteer-text {
      font-size: 35px;
      line-height: 48px;
    }
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    /* CSS for navbar section */
    /* .searchbar {
      width: 100%;
      max-width: 500px;
      margin-top: -8px;
    } */
    .navbar-light .navbar-nav .nav-link {
        padding-left: 0px;
    }
    /* CSS for banner section */
    .banner-section .caption-big {
      margin-bottom: 24px;
      font-size: 60px;
      line-height: 74px;
      max-width: 634px;
    }
    .banner-section .banner-caption {
      left: 50px;
    }
    .banner-section .caption-small-two {
      line-height: 18px;
    }
    /* CSS for volunteer section */
    .volunteer-banner-caption h2{
        font-size: 50px;
        line-height: 60px;
    }
  }
  @media(max-width: 1199.98px) {
    /* CSS for news section */
    .news-container {
      padding: 25px 15px 0px 15px;
    }
    .news-section-header .section-header{
      margin-top: 8px;
    }
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    /* CSS for banner section */
    .banner-section .banner-caption .line-break {
      display: block;
    }
    .banner-section .caption-big {
      margin-bottom: 24px;
      font-size: 60px;
      line-height: 74px;
    }
    .banner-section .banner-caption {
      left: 50px;
    }
    .banner-section .caption-small-two {
      line-height: 24px;
    }
    /* CSS for about section */
    .about-content {
    padding-left: 70px;
    }
    .about-categorie {
    padding: 5px 0px;
    }
    /* CSS for work section */
    .our-work {
    padding: 40px 24px 0px 30px;
    }
    .program-padding {
    padding: 70px 30px 0px 30px;
    }
    .our-work .content-header {
    padding-bottom: 18px;
    }
    .border-button {
    margin-top: 10px;
    }
    /* CSS for volunteer section */
    .volunteer-banner-caption h2{
      font-size: 65px;
      line-height: 79px;
    }
    .volunteer {
      padding: 70px 10px 0px 30px;
    }
    .volunteer-text {
      font-size: 35px;
      line-height: 48px;
    }
  }
  @media (min-width: 1200px) {
    /* CSS for banner section */
    .banner-section .banner-caption .line-break {
      display: block;
    }
  }
  @media (min-width: 1240px) {
    .border-button {
      margin-bottom: 10px;
    }
  }
  @media (min-width: 1200px) and (max-width: 1360px) {
    /* CSS for volunteer section */
    .volunteer {
      padding-top: 99px;
    }
    .volunteer-text {
      font-size: 38px;
      line-height: 48px;
    }
  }