body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.first-color{
  color: #ffbc42;
}
.second-color {
  color: #2e3094;
}
.first-bg {
  background-color: #ffbc42;
}
.second-bg {
  background-color: #2e3094;
}
.third-bg {
  background-color: #25ab5c;
}
.no-padding {
  padding: 0px;
}
.section-header-wrapper {
  padding-bottom: 20px;
}
.section-header {
  font-size: 35px;
  line-height: 60px;
  font-weight: 700;
  color: #333333;
  font-family: "Poppins";
}
.sub-header {
  font-size: 16px;
  line-height: 24px;
  color: #ffbc42;
  font-weight: 400;
  font-family: "Poppins";
  padding-bottom: 25px;
}
@media (max-width: 480px) {
  .section-header {
    font-size: 30px;
    line-height: 38px;
  }
  .border-button {
    padding: 16px 18px;
  }
  .block-button {
    padding: 16px 18px;
  }
  .news-section-button {
    padding: 16px 18px;
  }
}
.block-button {
  border-radius: 2px;
  color: #ffffff;
  border: 1px solid ;
  outline: 0;
  display: inline-block;
  font-size: 16px;
  line-height: 14px;
  text-align: center;
  cursor: pointer;
  font-weight: 400;
  text-decoration: none;
  font-family: "Poppins";
  border: none;
  padding: 19px 28px;
  margin-bottom: 25px;
}
.block-button:hover{
  color: #ffbc42;
}
.border-button {
  border-radius: 2px;
  border: 1px solid #ffffff;
  color: #ffffff;
  margin-top: 50px;
  outline: 0;
  display: inline-block;
  font-size: 16px;
  line-height: 14px;
  text-align: center;
  cursor: pointer;
  font-weight: 400;
  padding: 18px 28px;
  text-decoration: none;
  font-family: "Poppins";
  }
.border-button:hover {
  border: 1px solid #25ab5c;
  color: #25ab5c;
}
/* for navigation */
.navbar {
  padding-top: .156rem;
  padding-bottom: .156rem;
}
.navbar-light .navbar-nav .nav-link {
  font-size: 16px;
  color: #333333;
  font-weight: 400;
  padding-right: 1.0rem;
  padding-left: 1.0rem;
  font-family: "Poppins";
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #ffbc42;
}
.navbar-light .navbar-nav .nav-link.active {
  color: #ffbc42;
}
/* .fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9;
  background-color: white;
} */
/* for searchbar */
.searchbar {
  position: relative;
  width: 50px;
  height: 50px;
  float: right;
  overflow: hidden;
  transition: width 1s;
}
.searchbar-input {
  margin-top: 10px;
  right: 0;
  outline: 0;
  border: 1px solid #ffbc42;
  width: 80%;
  height: 35px;
  padding: 0px 0px 0px 20px;
  font-size: 17px;
  color: #363636;
}
.searchbar-input::-webkit-input-placeholder {
  color: #fff;
}
.searchbar-input:-moz-placeholder {
  color: #fff;
}
.searchbar-input::-moz-placeholder {
  color: #fff;
}
.searchbar-input:-ms-input-placeholder {
  color: #fff;
}
.searchbar-icon,
.searchbar-submit {
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  top: 0;
  font-family: "Poppins";
  font-size: 22px;
  right: 0;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  background: #ffffff;
}
.searchbar-open {
  width: 250px;
}
@media (max-width: 767.98px) {
  .navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  .searchbar {
      width: 100%;
      max-width: 250px;
      margin-top: -8px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .searchbar {
    width: 100%;
    max-width: 500px;
    margin-top: -8px;
  }
}
/* for Banner */
.banner-section {
  position: relative;
  display: inline-block;
  width: 100%;
  /* margin-top: 79px;*/      /* For sticky navbar */
}
.banner-section img {
  display: block;
  width: 100%;
  height: auto;
  min-height: 226px;
}
.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(90deg, rgba(29,30,99,0.96) 0%, rgba(23,24,74,0) 100%);
}
.banner-section .banner-caption {
  position: absolute;
  left: 88px;
  padding: 20px;
  margin: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.banner-section .caption-small-one {
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Poppins";
}
.banner-section .caption-small-two {
  opacity: 0.800;
  font-size: 16px;
  line-height: 28px;
  color: #fafafa;
  font-weight: 400;
  font-family: "Poppins";
}
.banner-section .caption-big {
  margin-top: 30px;
  margin-bottom: 26px;
  font-size: 79px;
  line-height: 90px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Fredericka the Great";
}
.banner-section .banner-button {
  margin-top: 50px;
}
.banner-section .banner-button .button {
  padding: 24px 40px;
  border-radius: 2px;
  background-color: #ffbc42;
  font-size: 16px;
  line-height: 14px;
  color: #232323;
  font-weight: 400;
  font-family: "Poppins";
}
.banner-section .banner-button .button:hover {
  color: #ffffff;
}
@media (max-width: 319.98px) {
  .banner-section .caption-big {
    margin-top: 14px;
    margin-bottom: 12px;
    font-size: 24px;
    line-height: 28px;
  }
  .banner-section .banner-button {
    margin-top: 14px;
  }
  .banner-section .banner-caption {
    left: 16px;
  }
  .banner-section .caption-small-one {
    font-size: 14px;
    line-height: 16px;
  }
  .banner-section .caption-small-two {
    display: none;
  }
  .banner-section .banner-button .button {
    padding: 10px 16px;
    border-radius: 2px;
  }
}
@media (min-width: 320px) and (max-width: 479.98px) {
  .banner-section .caption-big {
    margin-top: 18px;
    margin-bottom: 12px;
    font-size: 26px;
    line-height: 30px;
  }
  .banner-section .banner-button {
    margin-top: 14px;
  }
  .banner-section .banner-caption {
    left: 16px;
  }
  .banner-section .caption-small-one {
    font-size: 14px;
    line-height: 16px;
  }
  .banner-section .caption-small-two {
    font-size: 14px;
    line-height: 16px;
  }
  .banner-section .banner-button .button {
    padding: 10px 16px;
    border-radius: 2px;
  }
}
@media (min-width: 480px) and (max-width: 575.98px) {
  .banner-section .caption-big {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 36px;
    line-height: 40px;
  }
  .banner-section .banner-button {
    margin-top: 18px;
  }
  .banner-section .banner-caption {
    left: 16px;
  }
  .banner-section .caption-small-two {
    line-height: 17px;
  }
  .banner-section .banner-button .button {
    padding: 11px 20px;
    border-radius: 2px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .banner-section .caption-big {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 44px;
    line-height: 52px;
  }
  .banner-section .banner-button {
    margin-top: 24px;
  }
  .banner-section .banner-caption {
    left: 50px;
  }
  .banner-section .caption-small-two {
    line-height: 22px;
  }
  .banner-section .banner-button .button {
    padding: 14px 20px;
    border-radius: 2px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .banner-section .caption-big {
    margin-bottom: 24px;
    font-size: 60px;
    line-height: 74px;
  }
  .banner-section .banner-caption {
    left: 50px;
  }
  .banner-section .caption-small-two {
    line-height: 18px;
  }
  .banner-section .banner-button .button {
    padding: 18px 26px;
    border-radius: 2px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .banner-section .banner-caption .line-break {
    display: block;
  }
  .banner-section .caption-big {
    margin-bottom: 24px;
    font-size: 60px;
    line-height: 74px;
  }
  .banner-section .banner-caption {
    left: 50px;
  }
  .banner-section .caption-small-two {
    line-height: 24px;
  }
}
@media (min-width: 1200px) {
  .banner-section .banner-caption .line-break {
    display: block;
  }
}
/* about section */
.about-image-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.about-image-container img {
  display: block;
  width: 100%;
  height: auto;
}
.about-overlay-image {
  position: absolute;
  top: 49%;
  right: 0;
  transform: translateY(-50%);
  max-width: 82%;
  max-height: 100%;
}
.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.about-content {
  padding-left: 110px;
  width: auto;
}
.about-categorie {
  padding: 15px 15px;
}
.about-sub-header {
  font-size: 18px;
  line-height: 30px;
  color: #ffbc42;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Poppins";
  margin-bottom: 0px
}
.about-hero-img {
  opacity: 0.549;
  width: 97px;
  height: 97px;
  border-radius: 20px;
  background-color: #ccf9ff;
  padding: 17px;
}
@media (max-width: 991.98px) {
  .about-content {
    padding-top: 20px;
    padding-left: 30px;
    margin-bottom: 25px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .about-content {
    padding-left: 70px;
  }
  .about-categorie {
    padding: 5px 0px;
  }
}
/* Work section */
.our-work {
  padding: 100px 71px 0px 100px;
}
.program-padding {
  padding: 100px 80px 0px 67px;
}
.content-header {
  font-size: 35px;
  line-height: 40px;
  color: #ffffff;
  font-weight: 700;
}
.our-work .content-header {
  font-size: 35px;
  line-height: 40px;
  color: #ffffff;
  font-weight: 700;
  padding-bottom: 50px;
  font-family: "Poppins";
}
.our-work .content-details {
  font-family: "Poppins";
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  color: #ffffff;
  font-weight: 400;
}
@media (max-width: 479.98px) {
  .our-work .content-header {
    font-size: 30px;
    line-height: 38px;
  }
  .content-header {
    font-size: 30px;
    line-height: 38px;
  }
}
@media (max-width: 767.98px) {
  .flex-direction-md {
    flex-direction: column-reverse;
  }
}
@media (max-width: 991.98px) {
  .our-work {
    padding: 70px 30px 0px 30px;
  }
  .program-padding {
    padding: 70px 30px 0px 30px;
  }
  .our-work .content-header {
    padding-bottom: 30px;
  }
  .border-button {
    margin-bottom: 50px;
  }
  .our-work .content-details {
    text-align: justify;
  }
  .flex-direction-lg {
    flex-direction: column-reverse;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .our-work {
    padding: 40px 24px 0px 30px;
  }
  .program-padding {
    padding: 70px 30px 0px 30px;
  }
  .our-work .content-header {
    padding-bottom: 18px;
  }
  .border-button {
    margin-top: 10px;
  }
}
@media (max-width: 767.98px) {
  .border-button {
    margin-bottom: 50px;
  }
}
@media (min-width: 1240px) {
  .border-button {
    margin-bottom: 10px;
  }
}
/* Event Section */
.event-buttons {
  margin-top: 50px;
}
.event-buttons .margin-right{
  margin-right: 25px;
}
.event-image-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.event-image-container img {
  display: block;
  width: 100%;
  height: auto;
}

.event-overlay-image {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  max-width: 82%;
  max-height: 100%;
}
.event-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.event-content {
  padding-left: 3rem;
  padding-right: 3rem;
  width: auto;
}
.event-description {
  font-size: 16px;
  line-height: 25px;
  color: #333333;
  font-weight: 400;
  font-family: "Poppins";
  padding-top: 25px;
  padding-bottom: 35px;
}
.event-section-header {
  font-size: 25px;
  line-height: 35px;
  color: #333333;
  font-weight: 700;
  font-family: "Poppins";
}
.event-shedule {
  display: flex;
  justify-content: space-between;
}
.event-shedule-inner {
  font-size: 16px;
  line-height: 28px;
  color: #232323;
  font-weight: 500;
  font-family: "Poppins";
}
@media (max-width: 479.98px) {
  .event-shedule {
    display: block;
  }
  .event-buttons .margin-right{
    margin-right: 20px;
  }
}
@media (max-width: 768px) {
  .event-content {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (max-width: 992px) {
  .event-description {
    text-align: justify;
  }
}
/* Partner Section */
.partner-section {
  padding: 50px 100px 115px 100px;

}
.partner-section .section-header{
  padding-bottom: 30px;
}
.partner-logo-container .col-md-2 {
  width: auto;
}
.partner-logo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 100%;
}
.partner-logo {
  margin-bottom: 20px;
  max-width: 117px;
  height: auto;
  padding-right: 5px;
}
@media (max-width: 333.98px) {
  .partner-section {
    padding: 30px;
  }
  .partner-logo-container {
    justify-content: center;
  }
  .partner-logo {
    padding: 5px;
  }
}
@media (min-width: 334px) and (max-width: 767.98px) {
  .partner-section {
    padding: 50px;
  }
}
/* volunteer banner */
.volunteer-banner-section {
  position: relative;
  display: inline-block;
  width: 100%;
}
.volunteer-banner-section img {
  display: block;
  width: 100%;
  min-height: 205px;
  height: auto;
}
.volunteer-gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.678;
  background-color: #05064d;
}
.volunteer-banner-caption {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  margin: 0 auto;
}
.caption-small-one {
  font-size: 16px;
  line-height: 14px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Poppins";
  margin-top: 1%;
}
.volunteer-banner-caption h1{
  font-size: 79px;
  line-height: 90px;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 5%;
  font-family: "Fredericka the Great";
}
.volunteer-block-button {
  border-radius: 2px;
  color: #ffffff;
  outline: 0;
  display: inline-block;
  font-size: 16px;
  line-height: 14px;
  text-align: center;
  cursor: pointer;
  font-weight: 400;
  text-decoration: none;
  font-family: "Poppins";
  border: none;
  padding: 19px 28px;
  margin-bottom: 2.5%;
}
.volunteer-block-button:hover {
  color: #232323;
}
.volunteer {
  padding: 107px 15px 57px 100px;
}
.volunteer-text {
  font-size: 40px;
  line-height: 65px;
  color: #333333;
  font-weight: 800;
  padding-bottom: 4%;
  font-family: "Poppins";
}
@media (max-width: 319.98px) {
  .volunteer-banner-caption {
    width: 96%;
  }
  .volunteer-banner-caption .caption-small-one {
    font-size: 13px;
    line-height: 14px;
  }
  .volunteer-banner-caption h1{
      font-size: 22px;
      line-height: 26px;
  }
  .volunteer-block-button {
    font-size: 14px;
    padding: 14px 16px;
  }
  .volunteer {
    padding: 70px 10px 0px 30px;
  }
  .volunteer-text {
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
  }
}
@media (min-width: 320px) and (max-width: 479.98px) {
  .volunteer-banner-caption {
    width: 95%;
  }
  .volunteer-banner-caption .caption-small-one {
    font-size: 14px;
    line-height: 18px;
  }
  .volunteer-banner-caption h1{
      font-size: 25px;
      line-height: 30px;
  }
  .volunteer-block-button {
    font-size: 14px;
    padding: 14px 16px;
    }
  .volunteer {
    padding: 70px 10px 0px 30px;
  }
  .volunteer-text {
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
  }
}
@media (min-width: 480px) and (max-width: 575.98px) {
  .volunteer-banner-caption {
    width: 92%;
  }
  .volunteer-banner-caption h1{
      font-size: 36px;
      line-height: 44px;
  }
  .volunteer-block-button{
    font-size: 14px;
    }
  .volunteer {
    padding: 70px 20px 0px 30px;
  }
  .volunteer-text {
    font-size: 35px;
    line-height: 48px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .volunteer-banner-caption {
    width: 92%;
  }
  .volunteer-banner-caption h1{
      font-size: 42px;
      line-height: 50px;
  }
  .volunteer {
    padding: 70px 10px 0px 30px;
  }
  .volunteer-text {
    font-size: 35px;
    line-height: 48px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .volunteer-banner-caption h1{
      font-size: 50px;
      line-height: 60px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .volunteer-banner-caption h1{
    font-size: 65px;
    line-height: 79px;
  }
  .volunteer {
    padding: 70px 10px 0px 30px;
  }
  .volunteer-text {
    font-size: 35px;
    line-height: 48px;
  }
}
@media (min-width: 1200px) and (max-width: 1360px) {
  .volunteer {
    padding-top: 99px;
  }
  .volunteer-text {
    font-size: 38px;
    line-height: 48px;
  }
}
.news-background-image {
    background-image: url('../img/bg_img_3.png');
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */
    height: 100%;
    width: 100%;
}
.news-container {
  padding: 25px 15px 98px 15px;
}
.card {
  margin-bottom: 30px;
  border-radius: 2px;
  padding: .7rem;
  filter: drop-shadow(0 0 6.5px rgba(0,0,0,0.1));
}
.card .card-body .card-text {
  font-size: 18px;
  line-height: 30px;
  color: #333333;
  font-weight: 600;
  font-family: "Poppins";
  text-align: center;
}
.card .card-body .learn-more {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333333;
  text-decoration: none;
}

.card .card-body .learn-more i {
  font-size: 29px;
  color: #ffbc42;
  margin-left: 10px;
}
.news-section-header {
  display: flex;
  justify-content: space-between;
}
.news-section-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.news-section-button {
  border-radius: 2px;
  color: #2e3094;
  border: 1px solid #2e3094;
  font-size: 16px;
  line-height: 14px;
  font-weight: 400;
  padding: 18px 28px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  outline: 0;
  text-decoration: none;
  font-family: "Poppins";
}
.news-section-button:hover {
  color: #ffbc42;
  border: 1px solid #ffbc42;
}
@media (max-width: 319.98px) {
  .news-section-header {
    display: block;
  }
  .news-section-button-wrapper {
    justify-content: flex-start;
  }
}
@media(max-width: 1199.98px) {
  .news-container {
    padding: 25px 15px 0px 15px;
  }
  .news-section-header .section-header{
    margin-top: 8px;
  }
}
/* For button */
@media (max-width: 480px) {
  .section-header {
    font-size: 30px;
    line-height: 38px;
  }
  .border-button {
    padding: 16px 18px;
  }
  .block-button {
    padding: 16px 18px;
  }
  .news-section-button {
    padding: 16px 18px;
  }
}
/* Footer Section */
.footer {
  background-color: #232323;
  color: #ffffff;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding-bottom: 75px;
  padding-top: 100px;
}
.footer-section {
    padding-left: 90px;
}
.social-contact {
  padding-bottom: 15px;
  color: #eaeaea;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins";
}
.social-contact h6 {
  opacity: 0.612;
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Poppins";
}
.social-contact a {
  text-decoration: none;
  color: inherit;
}
.social-contact a:hover {
  color: #ffbc42;
}
.footer-section-header {
  font-size: 30px;
  line-height: 60px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Poppins";
  margin-top: -30px;
  margin-bottom: 50px;
}
.footer-section h3 {
  font-size: 20px;
  margin-bottom: 48px;
  color: #a6a6a6d4;
  font-weight: 500;
  font-family: "Poppins";
}
.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-section ul li {
  margin-bottom: 25px;
  margin-top: 25px;
}
.footer-section ul li a{
  text-decoration: none;
  color: #eaeaea;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins";
}
.footer-section ul li a:hover{
  color: #ffbc42;
}
.footer-bottom {
  width: 100%;
  height: 90px;
  background-color: #ffbc42;
  color: #333333;
  text-align: center;
  bottom: 0;
}
.footer-bottom p {
  line-height: 90px;
  margin: 0;
  font-family: "Poppins";
}
@media (max-width: 768px) {
  .footer-section {
    padding-left: 25px;
  }
  .footer-section-header {
    margin-top: -50px;
    margin-bottom: 50px;
  }
  .footer-section ul li {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}